@keyframes difuminar {
    from{
        opacity: 0%;
    }to{
        opacity: 100%;
    }
}

@font-face {
    font-family: 'Montserrat-VariableFont_wght';
    src: url(./Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Quicksand-VariableFont_wght';
    src: url(./Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'BigShouldersDisplay-VariableFont_wght';
    src: url(./BigShouldersDisplay-VariableFont_wght.ttf);
}

*{
    margin: 0;
    color: white;
    border: none;
}

html{
    min-height: 100%;
    position: relative;
}

body{
    background-color: #20262E;
    /* height: 100%; */
    /* background-image: url(./fondo.jpg); */
}
/* Estilos de pantalla principal */

.fondo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.50),
    rgba(0, 0, 0, 0.50)) ,url(./fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header{
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
    font-family: 'Quicksand-VariableFont_wght';
}

.logo{
    /* float: right; */
    position: relative;
    width: 20%;
    /* background-color: aqua; */
}

.logo img{
    /* background-color: aqua; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.lista{
    width: 80%;
}

.header ul{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content:end;
    align-items: center;
    /* width: 100%; */
    /* background-color: aqua; */
    /* flex-direction: row-reverse; */
}

.header li{
    /* margin-top: 12px; */
    margin-right: 10px;
}

.header a{
    text-decoration: none;
}

.header a:hover{
    text-decoration: underline;
}

.introduccion{
    /* padding: 50px; */
    /* padding-bottom: 5px; */
    /* text-align: center; */
    width: 100%;
    height: 160px;
    margin-bottom: 20px;
}

.introduccion h1{
    padding-left: 10px;
    font-family: 'Montserrat-VariableFont_wght';
    text-align: left;
    font-size: 55px;
    font-weight: bold;
}

.introduccion p{
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Quicksand-VariableFont_wght';
    text-align: left;
    font-size: 25px;
    /* font-weight: lighter; */
}

.notice{
    border: 1px solid red;
    background-color: rgba(211, 23, 9, .2);
    width: 95%;
    margin:  0 auto;
    margin-bottom: 10px;
}

.notice h5{
    font-family: 'Quicksand-VariableFont_wght';
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.notice p{
    margin: 0 auto;
    font-family: 'Quicksand-VariableFont_wght';
    text-align: justify;
    width: 90%;
    padding-bottom: 10px;
}

.intro{
    margin: 10px;
    /* background-color: blueviolet; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.botones{
    display: flex;
    /* margin-top: 40px; */
    justify-content: center;
    /* width:fit-content; */
    width: 100%;
}

.botones i{
    display: block;
    font-size: 30px;
}

.botones button{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 50%;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px;
    height:fit-content;
    background-color: rgb(211, 23, 9);
    border: none;
    color: white;
    cursor: pointer;
}

.botones button:hover{
    background-color: rgb(143, 17, 8);
    /* color: black; */
}



.presentacion{
    margin: 0 auto;
    width: 80%;
    text-align: justify;
    display: block;
    /* width: fit-content; */
}

.presentacion h2{
    text-align: center;
    font-family: 'Quicksand-VariableFont_wght';
}

.presentacion ol{
    padding-left: 15px;
    font-family: 'Quicksand-VariableFont_wght';
    padding-top: 20px;
    width: fit-content;
}

.footer{
    position: relative;
    margin-top: auto;
    height: auto;
    background-color: black;
    /* text-align: center; */
    /* display: flex; */
}

.titu-content{
    font-family: 'Quicksand-VariableFont_wght';
    font-size: 20px;
    text-align: center;
    /* background-color: aqua; */
    /* text-align: center; */
    /* font-size: 15px; */
}

.contentFooter{
    /* display: flex; */
    padding-bottom: 10px;
}

.contentFooter ul{
    /* background-color: aqua; */
    /* margin: 0 auto; */
    display: flex;
    padding-left: 0;
    font-family: 'Quicksand-VariableFont_wght';
    /* grid-auto-flow: column; */
    flex-direction: column;
    align-items: center;
    /* align-items: center; */
    list-style: none;
}

.contentFooter li{
    margin-top: 10px;
}

.contentFooter a{
    text-decoration: none;
}

.contentFooter a:hover{
    background-color: rgb(1, 4, 9);
}

.contentFooter ul li .github:hover{
    /* color: blue; */
    background-color: rgb(3, 48, 126);
    border-radius: 10px;
}

.contentFooter ul li .facebook:hover{
    color: aqua;
}

.contentFooter ul li .instagram:hover{
    color: rgb(0, 255, 170);
}

.contentFooter ul li .youtube:hover{
    color: rgb(0, 89, 255);
}

.redes i{
    padding-right: 10px;
}

.info-extra{
    display: none;
}

@media screen and (min-width: 768px){
    .introduccion{
        height: 120px;
    }

    .notice{
        width: 60%;
    }

    .notice h5{
        font-size: 30px;
    }

    .notice p{
        font-size: 20px;
    }

    .presentacion{
        width: 60%;
    }

    .presentacion h2{
        font-size: 30px;
        text-align: center;
    }

    .presentacion ol{
        font-size: 20px;
    }

    .botones button{
        font-size: 18px;
    }

    .redes{
        display: flex;
    }

    .footer{
        display: flex;
    }

    .footer ul{
        display: flex;
        margin: 0;
        align-items: center;
        /* background-color: blue; */
    }

    .contentFooter{
        display: block;
        width: 50%;
        /* background-color: aqua; */
    }

    .titu-content{
        display: block;
        font-size: 30px;
        /* background-color: antiquewhite; */
    }

    .info-extra{
        display: block;
        width: 50%;
        padding-bottom: 10px;
        /* background-color: blue; */
    }

    .info-titulos{
        font-family: 'Quicksand-VariableFont_wght';
        text-align: center;
    }

    .info-titulo-principal{
        font-family: 'Quicksand-VariableFont_wght';
        text-align: center;
        font-size: 30px;
    }
    
    .info-p{
        font-family: 'Quicksand-VariableFont_wght';
        text-align: center;
    }
}