@font-face {
    font-family: 'Montserrat-VariableFont_wght';
    src: url(./Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Quicksand-VariableFont_wght';
    src: url(./Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'BigShouldersDisplay-VariableFont_wght';
    src: url(./BigShouldersDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Barlo-Bold';
    src: url(./Barlow-Bold.ttf);
}


*{
    color: white;
}

body{
    margin: 0;
}

h1{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.50);
    font-family: 'Quicksand-VariableFont_wght';
    font-size:50px;
}

h2{
    font-family: 'Quicksand-VariableFont_wght';
    margin-top: 2px;
    margin-bottom: 2px;
}

p{
    margin-top: 8px;

    text-align: justify;
    font-family: 'Quicksand-VariableFont_wght';
}

main{
    margin: 10px;
}

form{
    margin: 0 auto;
    width: 50%;
    display: block;
    background-color: rgba(0, 0, 0, 0.50);
}

legend{
    text-align: center;
    font-family: 'Quicksand-VariableFont_wght';
    font-weight: bold;
    display: block;
}

body{
    background-color: #20262E;
}

